:host {
  display: inline-block;
  &.icon,
  &.text {
    zoom: 1.3;
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
  &.icon {
    height: 76px;
    width: 76px;
    position: relative;
    > img {
      width: 100%;
      position: relative;
    }
    >.border {
      position: absolute;
      $gap: 4px;
      top: $gap;
      right: $gap;
      bottom: $gap;
      left: $gap;
      border: 5px solid var(--ion-color-danger);
      border-radius: 50%;
    }
  }
}
