<ng-container [ngSwitch]="view">

  <ion-chip *ngSwitchCase="'text'" color="danger">
    <ion-label>{{ name }}</ion-label>
  </ion-chip>

  <ng-container *ngSwitchCase="'icon'">
    <div class="border"></div>
    <img [src]="img">
  </ng-container>

  <ion-button
    *ngSwitchCase="'button'"
    class="no-margin"
    [expand]="'block'"
    [fill]="'outline'"
    [color]="active ? 'danger' : 'medium'"
    (click)="toggle.emit()"
  >
    {{ name | translate }}
  </ion-button>

</ng-container>
