<ion-header>
  <app-bar
    [title]="'history.title' | translate"
    [close]="true"
  ></app-bar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item
      *ngFor="let scan of scans"
      (click)="showProduct(scan.product)"
    >
      <ion-avatar slot="start">
        <img
          *ngIf="scan.product.imgSrc"
          [src]="scan.product.imgSrc"
          (error)="imageNotFound(scan)"
        >
      </ion-avatar>
      <ion-label>{{ scan.product.name }}</ion-label>
      <ion-badge
        *ngIf="scan.count > 1"
        slot="end"
      >
        {{ scan.count }}
      </ion-badge>
    </ion-item>

  </ion-list>
</ion-content>
