<ion-content>

  <ion-progress-bar
    class="fixed"
    [value]="progress$ | async"
    [color]="'secondary'"
  ></ion-progress-bar>

  <ion-slides class="fullscreen" [pager]="true" [formGroup]="form">

    <ion-slide>

      <app-logo class="animated zoomIn" [ally]="true"></app-logo>

      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ "feedback.intro.title" | translate }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p>{{ "feedback.intro.message" | translate }}</p>
          <p>{{ "feedback.intro.callToAction" | translate }}</p>
        </ion-card-content>
      </ion-card>

    </ion-slide>

    <ion-slide
      *ngFor="let section of sections"
      [formGroupName]="section.sectionName"
    >
      <ion-card *ngFor="let control of controls(section.control)">

        <!--<ion-card-content>-->
        <p class="label">
          {{ i18nString(section.sectionName, control) | translate }}
        </p>


        <ion-select
          item-end
          [formControlName]="control"
          interface="popover"
          [placeholder]="'core.choose' | translate"
        >
          <ion-select-option
            *ngFor="let value of values"
            [value]="value"
          >{{ i18nString(section.sectionName, control, value) | translate }}</ion-select-option>
        </ion-select>

      </ion-card>

    </ion-slide>

    <ion-slide>

      <ion-toolbar class="transparent">
        <ion-buttons slot="end">
          <ion-button
            [fill]="'clear'"
            [color]="'secondary'"
            [disabled]="form.invalid"
            (click)="submit()"
          >
            {{ "core.done" | translate }}
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

      <ion-card>
        <ion-card-content>
          <ion-textarea
            [rows]="4"
            [placeholder]="'feedback.comment' | translate"
            formControlName="comment"
          ></ion-textarea>
        </ion-card-content>
      </ion-card>

    </ion-slide>

  </ion-slides>
</ion-content>
