
app-logo {
  margin-bottom: 36px;
}


ion-slide {
  align-items: initial;
  ion-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

ion-card:nth-child(n + 2) {
  margin-top: 0;
}

p.label {
  margin: 0;
  padding: 8px 16px;
}

ion-select.ion-valid {
  color: var(--ion-color-primary);
}

//ion-card {
//  text-align: left;
//}
//ion-label.label-md {
//  margin-bottom: 0;
//}
//ion-select.select-md {
//  width: 100%;
//  max-width: none;
//}
