img {
  display: block;
  margin: auto;
  width: auto;
  min-height: 30vh;
  max-height: 50vh;
}
.result {
  animation-delay: 500ms;
}

ion-toolbar.report {
  animation-delay: 2000ms;
}

ion-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.disclaimer {
  animation-delay: 2000ms;
  color: var(--ion-color-medium);
}

main {
  @media (min-width: 750px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}


