<ion-header>
  <app-bar
    [title]="name"
    [close]="true"
  ></app-bar>
</ion-header>

<ion-content>
  <main>
    <ion-card>
      <img [src]="productImage">

      <ion-fab
        *ngIf="hasNoImage"
        class="animated fadeIn"
        vertical="center"
        horizontal="center"
      >
        <ion-fab-button [color]="'secondary'">
          <i class="icon ion-md-camera" style="font-size: 24px!important;"></i>
        </ion-fab-button>
      </ion-fab>

    </ion-card>

    <div class="content">
      <div class="result animated flash">
        <ion-card-content *ngIf="allergensFound; else noAllergens">
          <app-allergen
            *ngFor="let allergen of allergens"
            class="animated flash"
            [key]="allergen"
            [view]="view"
          ></app-allergen>
        </ion-card-content>
      </div>

      <ion-toolbar class="transparent report animated fadeIn">
        <ion-buttons slot="end">
          <ion-button
            [color]="'danger'"
            (click)="reportError()"
          >{{ "report.button" | translate }}</ion-button>
        </ion-buttons>
      </ion-toolbar>

      <div padding>
        <ion-label
          class="disclaimer animated fadeIn"
          [color]="'light'"
        >{{ disclaimer | translate }}</ion-label>
      </div>
    </div>



  </main>





</ion-content>



<ng-template #noAllergens>
  <ion-card [color]="alertBoxColor">
    <ion-card-content [ngSwitch]="view">
      <ion-card-title *ngSwitchCase="'text'">
        {{ "allergens.none" | translate }}
      </ion-card-title>
      <i
        *ngSwitchCase="'icon'"
        class="icon ion-md-checkmark-circle"
        style="font-size: 32px!important;"
      ></i>
    </ion-card-content>

    <!--<ion-card-content>-->
      <!--<ion-icon-->
        <!--class="animated zoomIn"-->

      <!--&gt;</ion-icon>-->
    <!--</ion-card-content>-->
  </ion-card>
</ng-template>
