<ion-toolbar
  [class.transparent]="!title"
  [color]="color"
>
  <ion-title *ngIf="title">{{ title }}</ion-title>
  <ion-buttons slot="end">
    <ion-button
      *ngIf="close"
      slot="icon-only"
      (click)="modal.dismiss()"
    >
      <i class="icon ion-md-close" style="font-size: 32px!important;"></i>
    </ion-button>
    <ng-content></ng-content>
  </ion-buttons>
</ion-toolbar>
