<ion-header>
  <app-bar [close]="true"></app-bar>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide>
      <ion-card>
        <img src="assets/imgs/capture/shelf.png">
        <form [formGroup]="form">
          <ion-card-content>
            <ion-card-title>{{ "capture.title" | translate }}</ion-card-title>
            <ion-card-subtitle>{{ "capture.message" | translate }}</ion-card-subtitle>

            <ion-item>
              <ion-label position="floating">{{ 'capture.name' | translate}}</ion-label>
              <ion-input
                formControlName="name"
              ></ion-input>
            </ion-item>
          </ion-card-content>

          <ion-toolbar  class="transparent">
            <ion-buttons slot="end">
              <ion-button
                color="secondary"
                [disabled]="invalidName"
                (click)="next()"
              >
                {{ "core.next" | translate }}
                <i class="icon ion-md-arrow-forward" style="font-size: 24px!important;"></i>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </form>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/imgs/capture/front.png">
        <ion-card-header>
          <ion-card-title>
            {{ "capture.front_image" | translate }}
          </ion-card-title>
        </ion-card-header>
      </ion-card>

      <ion-fab horizontal="center" vertical="bottom">
        <ion-fab-button
          color="secondary"
          [disabled]="busy"
          (click)="takePhoto('front_image')"
        >
          <i class="icon ion-md-camera" style="font-size: 24px!important;"></i>
        </ion-fab-button>
      </ion-fab>

    </ion-slide>


    <ion-slide>
      <ion-card>
        <img src="assets/imgs/capture/back.png">
        <ion-card-header>
          <ion-card-title>
            {{ "capture.back_image" | translate }}
          </ion-card-title>
        </ion-card-header>
      </ion-card>

      <ion-fab horizontal="center" vertical="bottom">
        <ion-fab-button
          color="secondary"
          [disabled]="busy"
          (click)="takePhoto('back_image')"
        >
          <i class="icon ion-md-camera" style="font-size: 24px!important;"></i>
        </ion-fab-button>
      </ion-fab>

    </ion-slide>

  </ion-slides>
</ion-content>

