// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-toolbar.transparent {
  --background: transparent;
  --ion-color-base: transparent !important;
}

ion-slides.fullscreen {
  height: 100%;

  ion-slide {
    flex-direction: column;
    text-align: left;
  }
}

ion-button.no-margin {
  --margin-top: 0;
  --margin-bottom: 0;
}

ion-select {
  --color: var(--ion-color-secondary)
}

ion-progress-bar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
