<ion-content>

  <ion-progress-bar
    class="fixed"
    [value]="progress$ | async"
    [color]="'secondary'"
  ></ion-progress-bar>

  <ion-slides
    class="fullscreen"
    [pager]="true"
    [options]="{initialSlide: 0}"
  >

    <ion-slide>

      <app-logo [ally]="true"></app-logo>

      <ion-label class="title">
        {{ "configuration." + (introSlug) + ".title" | translate }}
      </ion-label>

      <ion-label>{{ "configuration." + (introSlug) + ".message" | translate }}</ion-label>

    </ion-slide>

    <ion-slide *ngIf="!detailsOnly">

      <ion-label class="title">{{ "configuration.allergies" | translate }}</ion-label>

      <app-allergy-profile [model]="allergies"></app-allergy-profile>

    </ion-slide>


    <ion-slide>

      <app-user-details
        [form]="details"
        (openKeyboard)="showKeyboard($event)"
        (submit)="onSubmit()"
      ></app-user-details>
    </ion-slide>

  </ion-slides>

  <app-digit-keyboard></app-digit-keyboard>


</ion-content>

