$bars: 10;

@mixin busy($index) {
  $duration: 3000ms;
  $delay: ($index - 1) * ($duration/$bars);
  animation: busy $duration $delay infinite ease-in-out;

  $end: #{(1/$bars)*100%};
  @keyframes busy {
    0%, 20%, 100% {
      transform: scale(1);
    }
    10% {
      transform: scale(1.1);
    }
  }
}

@mixin completed($success) {
  $color: if($success, var(--ion-color-success), var(--ion-color-danger));
}


:host {
  display: flex;
  height: 70px;
}
.bar {
  width: 6px;
  background-color: var(--ion-color-primary);
  transition: background-color 300ms;
  border-radius: 2px;
  &:nth-child(n+2) {
    margin-left: 5px;
  }
  &.size-s {
    height: 90%;
  }
  &.size-l {
    height: 100%;
  }
  &.busy {
    @for $i from 1 through $bars {
      &:nth-child(#{$i}) {
        @include busy($i)
      }
    }
  }
  &.success {
    background-color: var(--ion-color-success);
  }
  &.failed {
    background-color: var(--ion-color-danger);
  }
}






