<mat-toolbar
  *ngIf="itemsLeft$ | async as itemsLeft"
  class="animated slideInDown"
>
  {{ itemsLeft }} categories left
</mat-toolbar>


<mat-list>
  <ng-container *ngFor="let oldCategory of categories$ | async; trackBy: catName">
    <mat-list-item class="animated fadeIn">

      <span (click)="assignToMinor(oldCategory)">{{ oldCategory.name }}</span>

      <button
        mat-icon-button
        style="z-index: 5"
        (click)="skip(oldCategory)"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-list-item>
    <mat-divider></mat-divider>

  </ng-container>

</mat-list>







