<div class="screen">
  {{ displayValue }} {{ unit }}
</div>

<ion-toolbar class="label">
  <ion-title>{{ label | translate }}</ion-title>
</ion-toolbar>

<div class="keyboard">

  <ion-button
    *ngFor="let digit of digits"
    color="primary"
    expand="full"
    size="large"
    [disabled]="disabled(digit)"
    (click)="addDigit(digit)"
  >{{ digit }}</ion-button>

  <ion-button
    color="light"
    size="large"
    expand="full"
    [disabled]="disabled()"
    (click)="removeDigit()"
  >
    <i class="icon ion-md-backspace"></i>
  </ion-button>

  <ion-button
    color="primary"
    size="large"
    expand="full"
    [disabled]="disabled(0)"
    (click)="addDigit(0)"
  >0</ion-button>

  <ion-button
    color="light"
    size="large"
    expand="full"
    (click)="submit()"
    [disabled]="!valid"
  >
    <i class="icon ion-md-checkmark-circle-outline"></i>
  </ion-button>
</div>

