:host {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: var(--width); //100vw;
  height: var(--height); //100vh;
  top: 0;
  opacity: 0;
  z-index: -1;
  transition: all 300ms;
  background-color: var(--background);
  &.open {
    opacity: 1;
    z-index: 5;
  }
  >.screen {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    padding: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex-wrap: wrap;
    background-color: white;
    background-color: rgba(255,255,255, 0.95);
  }
  >.label {
    box-shadow: 0 -1px 3px rgba(0,0,0,0.12), 0 -1px 2px rgba(0,0,0,0.24);
  }
  >.keyboard {
    justify-self: flex-end;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    //grid-template-rows: repeat(4, 56px);
    //grid-gap: 1px;
    //background-color: color($colors, light);
    ion-button {
      --margin-top: 0;
      --margin-bottom: 0;
    }
  }
}



.icon {
  color: var(--ion-color-primary);
  font-size: 32px!important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
