
@import '~@angular/material/theming';

@include mat-core();

$adonis-primary: mat-palette($mat-pink, 600);
$adonis-accent: mat-palette($mat-light-blue, 500);

$adonis-warn: mat-palette($mat-red, 700);

$adonis-theme: mat-dark-theme($adonis-primary, $adonis-accent, $adonis-warn);

@include angular-material-theme($adonis-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background: map_get($mat-dark-theme-background, background)}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dark-bg {
  background: map_get($mat-dark-theme-background, dialog)
}

mat-bottom-sheet-container.compact {
  padding: 0;
}
