<header class="dark-bg">
  <mat-toolbar color="primary">
    {{ name }}
  </mat-toolbar>
  <mat-form-field>
    <input matInput
           placeholder="Search"
           [formControl]="minorCtrl"
           [matAutocomplete]="auto"
           (focus)="hideAccordion = true"
           (blur)="hideAccordion = false"
    >
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onSelect($event.option.value)"
    >
      <mat-option
        *ngFor="let minor of filteredMinors"
        [value]="minor.id">
        <span>{{minor.name}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</header>

<main>
  <mat-accordion [class.hidden]="hideAccordion">
    <mat-expansion-panel *ngFor="let major of majors">

      <mat-expansion-panel-header>
        <mat-panel-title>{{ major.name}}</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item
          *ngFor="let minor of major.minors"
          (click)="onSelect(minor.id)"
        >
          {{ minor.name }}
        </mat-list-item>
      </mat-list>

    </mat-expansion-panel>
  </mat-accordion>
</main>





