header {
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 0 rgba(256,256,256,0.16);
}

main, mat-form-field {
padding: 8px 16px;
}

.major {
  font-weight: 400;
  opacity: 0.5;
  text-transform: uppercase;
}

mat-form-field {
  display: block;
}

mat-accordion.hidden {
  visibility: hidden;
}
