<ion-header>
  <ion-toolbar>
    <ion-title>{{ "history.title" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon
          slot="icon-only"
          [name]="'close'"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item
      *ngFor="let scan of scans"
      (click)="open(scan)"
    >
      <ion-avatar slot="start">
        <img *ngIf="scan?.product?.imgSrc" [src]="scan.product.imgSrc">
      </ion-avatar>
      <ion-label>
        <h2>{{ scan.product.name }}</h2>
        <p>{{ timeSince(scan.timeStamp) }}</p>
      </ion-label>

      <ion-badge
        *ngIf="scan.count > 1"
        slot="end"
        [color]="'secondary'"
      >{{ scan.count }}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
