<form [formGroup]="form">

      <section id="gender">
        <ion-label>{{ "configuration.details.gender.pre" | translate }}</ion-label>
        <ion-select
          [placeholder]="'...'"
          [interface]="'popover'"
          [formControlName]="'gender'"
        >
          <ion-select-option value="male">{{ "configuration.details.gender.male" | translate }}</ion-select-option>
          <ion-select-option value="female">{{ "configuration.details.gender.female" | translate }}</ion-select-option>
          <ion-select-option value="other">{{ "configuration.details.gender.other" | translate }}</ion-select-option>
        </ion-select>
        <ion-label>,</ion-label>
      </section>

      <section id="year" [class.shown]="genderControl.valid">
        <ion-label>{{ "configuration.details.year" | translate }}</ion-label>
        <ion-label
          class="select"
          [class.valid]="yearControl.valid"
          (click)="setYear()"
        >
          {{ year }}
        </ion-label>
      </section>

      <section id="german" [class.shown]="yearControl.valid">
        <ion-label>{{ "configuration.details.german.pre" | translate }}</ion-label>
        <ion-select
          [placeholder]="'...'"
          [interface]="'popover'"
          [formControlName]="'german'"
        >
          <ion-select-option
            [value]="'none'"
          >{{ "configuration.details.german.none" | translate }}</ion-select-option>
          <ion-select-option
            [value]="'basic'"
          >{{ "configuration.details.german.basic" | translate }}</ion-select-option>
          <ion-select-option
            [value]="'fluent'"
          >{{ "configuration.details.german.fluent" | translate }}</ion-select-option>
        </ion-select>
        <ion-label>{{ "configuration.details.german.post" | translate }}.</ion-label>

      </section>

  <br>

  <section id="optionals" [class.shown]="form.valid">
    <ion-list [lines]="'none'">
      <ion-item>
        <ion-checkbox
          slot="start"
          [formControlName]="'dietResearch'"
        ></ion-checkbox>
        <ion-label>{{ "configuration.details.dietResearch" | translate }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox
          slot="start"
          [formControlName]="'travelling'"
        ></ion-checkbox>
        <ion-label>{{ "configuration.details.travelling" | translate }}</ion-label>
      </ion-item>
    </ion-list>

  </section>

  <section id="submit" [class.shown]="form.valid">

    <ion-button
      color="secondary"
      (click)="submit.emit()"
    >
      {{ "core.done" | translate }}
    </ion-button>
  </section>

</form>
