:host {
  display: block;
  width: 100%;
}

section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  &:nth-child(n + 2) {
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms 300ms;
  }
  &.shown {
    opacity: 1;
    visibility: visible;
  }

}

#gender {
  font-size: 2rem;
}
#year {
  font-size: 1.75rem;
}
#german {
  font-size: 1.25rem;
}

ion-label {
  padding-top: 8px;
  white-space: nowrap;
}


ion-select, .select {
  padding: 8px 8px 0;
}
.select {
  color: var(--ion-color-medium);
}
ion-select,
.select.valid {
  color: var(--ion-color-primary);
  --color: var(--ion-color-primary);
}

ion-checkbox + ion-label {
  white-space: pre-wrap;
}

section#submit {
  transition-delay: 1s;
  justify-content: flex-end;
}
