<ion-header class="animated slideInDown">
  <app-bar
    [title]="'Allergy Scan'"
    [color]="'primary'"
  >
    <ng-container *ngIf="scans$ | async as scans">
      <ion-button
        *ngIf="scans?.length > 0"
        class="animated fadeIn"
        slot="icon-only"
        (click)="showScans(scans)"
      >
        <i class="icon ion-md-cart" style="font-size: 32px!important;"></i>
        <!--<ion-icon-->
          <!--[name]="'cart'"-->
          <!--[size]="'large'"-->
        <!--&gt;</ion-icon>-->
      </ion-button>
    </ng-container>
  </app-bar>
</ion-header>

<ion-content>
  <main *ngIf="ready$ | async">
    <div>
      <app-logo class="animated fadeIn"></app-logo>
    </div>

    <app-scanner
      (scanned)="onScan($event)"
    ></app-scanner>
  </main>

</ion-content>



