<ion-fab-button
  *ngIf="!busy; else loading"
  [color]="'secondary'"
  (click)="run()"
>
  <i class="icon ion-md-barcode" style="font-size: 24px!important;"></i>
</ion-fab-button>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
